<div class="center_content_pages">
		<div class="pages_banner">用户管理</div>
		<div class="right_about2">
			<div id="popBox" class=""></div>
			<h1 id="">用户列表</h1>
			<form action="<{$app}>/user/del" method="post" onsubmit="return confirm('你确定么？');"  accept-charset="utf-8">
				<div id="fpage" class="">
					无视频
				</div>
				<input type="submit" name="del" value="删除"/>
			</form>
		</div>
	 <div class="clear"></div>
 </div>
	<script>
		var cache=new Array();
		function setPage(url){
			var obj=document.getElementById("fpage");
			
			if(typeof(cache[url])=="undefined"){
				var ajax=Ajax();

				ajax.get(url,function(data){
						obj.innerHTML=data;
						cache[url]=data;	
					});
			}else{
				obj.innerHTML=cache[url];	
			}	
		}
		function ajaxBox(url, id){
			var obj=document.getElementById(id);
					obj.style.display = "block";
			var ajax=Ajax();
			ajax.get(url,function(data){
					obj.innerHTML=data;
					obj.style.display = "block";
				});
		}
		function ajaxQuery(url){
			var ajax=Ajax();
			ajax.get(url);
		}
		setPage("<{$app}>/user/userlist?page=1");
	</script>
	 
