<ul id="" class="noticeList">
	<{section loop=$notice name="ls" start="0" step="1"}>
    <li>
    <h1 id="noticeTitle"><{$notice[ls].title|truncate:21}></h1>
        <p style="text-indent: 2em;"><{$notice[ls].content|truncate:21}></p>
        <p style="text-indent: 2em;">开始时间：<span
            class="noticeTime"><{$notice[ls].strtime|date_format:"%Y-%m-%d"}></span>结束时间：<span
            class="noticeTime"><{$notice[ls].stptime|date_format:"%Y-%m-%d"}></span> </p>
    </li>

    <{sectionelse}>	
				无公告
    <{/section}>
    <{$fpage}>
</ul>



