<table border="0" class="list">
	<tr>
		<th width="20">&nbsp;</th>
		<th width="200">用户名</th>
		<th width="80">昵称</th>
		<th width="80">注册时间</th>
		<th width="80">头像</th>
		<th width="120">操作</th>
	</tr>
	

	<{section loop=$user name="ls" start="0" step="1"}>
				<tr>
					<td><input type="checkbox" name="uid[]" value="<{$user[ls].uid}>" /></td>
					<td><{$user[ls].username|truncate:21}></td>
					<td><{$user[ls].alias|truncate:21}></td>
					<td><{$user[ls].regtime|date_format:"%Y-%m-%d"}></td>
					<td><img src="<{$user[ls].faceurl2}>" /></td>
					<td>
						<a href="" onclick="var rel=confirm('确定要重置密码为000000么？');if(rel)this.href='<{$app}>/user/mod/uid/<{$user[ls].uid}>';">重置密码</a>
						<a id="" href="" onclick="var rel=confirm('确定要删除么？');if(rel)this.href='<{$app}>/user/del/uid/<{$user[ls].uid}>';">删除</a>
					</td>
				</tr>
	
		<{sectionelse}>	
				无用户
		<{/section}>
		<tr><td align="right" colspan="5"><{$fpage}></td></tr>	
</table>

