<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科大电视台后台管理</title>
<link rel="stylesheet" type="text/css" href="<{$res}>/css/style.css" />
<script src="<{$res}>/js/date.js" type="text/javascript" charset="utf-8"></script>
<script src="<{$res}>/js/ajax.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div id="main_container">

        
	<div class="header">

            <div class="logo"><a href="index.html">adaria</a></div>
            <div class="slogan">| free css template</div> 
			
		

    </div> <!--end of header--> 
    
    <div class="menu">
        <ul>
        <li><a href="<{$app}>/index">首页</a></li>
		<li><a href="<{$app}>/index/video">视频</a></li>
        <li><a href="<{$app}>/index/col">频道</a></li>
		<li><a href="<{$app}>/index/user">用户</a></li>
		<li><a href="<{$app}>/index/notice">公告</a></li>
		<li><a href="<{$app}>/index/wall">留言墙</a></li>
		<li><a href="<{$app}>/index/member">社团成员</a></li>
		<li style="float:right;"><a href="<{$app}>/admin/islogout">退出</a></li>
        </ul>
    </div>
